/*для мобильного*/
body {
  display: flex;
  flex-direction: column;
  margin:0px;
  width: 100%;
  font-family: Luminari; /* Семейство шрифтов */
  font-size: 12pt; /* Размер основного шрифта в пунктах  */
  background: url(fon.png); /* Цвет фона веб-страницы */
}
.logo{
  float:left;
  margin:10px; 
}
header{/*шапка*/
  margin:0px;
  flex-shrink: 0;
  font-family: Luminari, fantasy; /* Семейство шрифтов */
  text-align: left;
  background: #ffe5b4 ;
  margin-bottom: 10px;
}
nav{ /*навигация*/
  width: 100%;
  margin-left:0%;
  display: flex;
  align-items: center;
  flex-direction:column; 
  margin:0 auto;
  font-family: Luminari, fantasy; /* Семейство шрифтов */
  text-align: center;
  background: #ffe5b4 ;
  margin-bottom: 10px;
}
footer{ /*подвал*/
  width: 100%;
  order: 3;
  text-align: right;
  flex-shrink: 0;
}
.link {/*ссылки*/
  width: 100%;
  margin: 0px;
  background: #ffe5b4 ;
  padding: 0px;
  margin-bottom: 10px;
}
.table{
  text-align: center;
  background: #ffe5b4;
  position: relative;
  width: 100%;
  order: 2;
  margin-bottom: 10px;
}
table{
  border: 1px solid black;
  border-collapse: collapse; /*убираем двойные линии вокруг ячеек*/
  position: relative;
  width: 100%;
}
td, th{
  text-align: center;
  border: 1px solid black;
}
tr:nth-child(2n){
  background: #EFB63C ;
}
.forma{/*форма выше таблицы*/
  width: 100%;
  order: 1;
  background: #ffe5b4;
  position: relative;
}
.a1{
  width: 50%;
}
.a2{
  width: 25%;
}
h1 {
  color: #a52a2a; /* Цвет заголовка */
  font-size: 24pt; /* Размер шрифта в пунктах */
  font-weight: normal; /* Нормальное начертание текста  */
}
h3{ 
   text-align: left;
}

/*для компа*/
@media (min-width:  990px){
header{
  margin: 20px;
}
.logo{
  float:left;
  margin:10px; 
}
.nav{
  align-items: center;
   flex-direction:row; 
   margin-left:15%;
   width: 70%;
   margin-bottom: 20px; 
}
.link {
  margin-left: 15%;
  width:70%;
  margin-bottom: 20px;
}
.table{
  order: 1;
  margin-left:15%;
  width: 70%;
  position: relative;
  margin-bottom: 20px;
}
tr:nth-child(2n){
  background: #EFB64C ;
}
.forma{
  order: 2;
  margin-left:15%;
  width: 70%;
  position: relative;
  margin-bottom: 20px;
}
footer{
  order: 3;
  width: 85%;
  text-align: left;
  margin-left: 15%
}


}